<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href= "/public/styles/main.css" rel="stylesheet" type="text/css" />

</head>



<body>
    <h1 class="hero">Group Calendar</h1>
    <div class="calendar-container">
        <div class="calendar-top-bar">
            <button class="month-select-left" type="button"> LEFT </button>
            <p><%= calendarData.month[0].monthName%></p>
            <button class="month-select-right" type="button"> RIGHT </button>
        </div>
        <div class="calendar-day-name-bar">
            <p>Sunday</p>
            <p>Monday</p>
            <p>Tuesday</p>
            <p>Wednesday</p>
            <p>Thursday</p>
            <p>Friday</p>
            <p>Saturday</p>
        </div>



        <div class="calendar-day-container">
            <% //generate previous month day-boxes %>
            <% for (var i = dayLayout[0]; i > 0; i--) { %>
                <div class="day-box-prev-month"><%= (calendarData.month[11].numDays - (i-1)) %></div>
            <% } %>

            <% //generate this month's day-boxes %>
            <% for (var i = 0; i < dayLayout[1]; i++) { %>
                <div class="day-box-curr-month"><%= (i+1) %></div>
            <% } %>

            <% //generate next month's day-boces %>
            <% for (var i = 0; i < dayLayout[2]; i++) { %>
                <div class="day-box-next-month"><%= (i+1) %></div>
            <% } %>
            
        </div>



        <div class=""></div>
    </div>

    
</body>
</html>

